/*<------- FORMULÃRIOS ------->*/

/* Alterando cores dos inputs */
.input-field input:focus + label {
    color: #6d4e7a !important;
  }

.row .input-field input:focus {
  border-bottom: 1px solid #6d4e7a !important;
  box-shadow: 0 1px 0 0 #6d4e7a!important
}

.mt-5 {
  margin-top: 10%!important;
}

.mt-2 {
  margin-top: 5%;
}

main {
  flex: 1 0 auto;
}

.tabs .tab a{
  color: #6d4e7a;
}

.tabs .tab a:hover{
  background-color: rgba(109, 78, 122, 0.1);
  color: #6d4e7a;
}

.tabs .tab a.active {
  background-color: #FAFAFA;
  color: #6d4e7a;
}

.tabs .indicator {
  background-color: #6d4e7a;
}



.dropdown-content li > a, .dropdown-content li > span {
    color: #6d4e7a !important;
}

/*<------- AURORA FORUM ------->*/

.user_forum {
  margin-top: 5%;
}

.btn_forum {
  margin-top: 5%;
}

.path_top{
  margin-top: 5%;
}

/*<------- FIX PARA MATERIAL ICONS ------->*/

.material-icons, .icon-text {
  vertical-align: middle;
}





